<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label "Miesięcznia kwota graniczna:" %>
    <%= f.text_field :quota, :value => number_to_currency(@user.quota.to_f/100, :unit => "") %>
    <br/>
    <%= f.submit "Uaktualnij" %>
  </div>
<% end %>
