<%= form_for @expense, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-actions">
  	<%= f.label :amount, 'Kwota:' %>
  	<%= f.text_field 'amount' %>

    <%= f.label :description, 'Opis (80 znaków):' %>
    <%= f.text_field 'description' %>

  	<%= f.label :map, 'Wybierz lokalizację wydatku:' %>
  	<div id="map_canvas"></div>

  	<%= f.label "Wybierz datę:" %>
  	<%= f.text_field :date, :class => 'datepicker' %>

  	<%= f.hidden_field 'longitude' %>
  	<%= f.hidden_field 'latitude' %>
    <%= f.submit 'Dodaj', :class => 'btn btn-primary' %>
    <%= link_to "Anuluj", expenses_path, :class => 'btn' %>
  </div>
<% end %>
